﻿@model IEnumerable<CheckList.Models.Check>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

    <script language="text/javascript">
        var item = @Html.Raw(Json.Encode(ViewData["Item"]));
        var id = @Html.Raw(Json.Encode(ViewData["ItemId"]));
        if(item != ''){
            console.log(item); 
            alert("Due date for "+item);
            console.log(item); 
            $.ajax({
                url: '/Checks/UpdateCheckNotify/'+id,
                type: 'POST',
                success: function (result) {
                    console.log(result);
                }
            });
        }
    </script>
<div id="progressBarChecked">
    <div class="progress">
        <div class="progress-bar" role="progressbar" style="width:@(Html.AttributeEncode(ViewBag.Percent))%"></div>
    </div>
    <p>@(ViewBag.Percent)%</p>
</div>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CheckDescription)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CheckIsDone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CheckDueDate)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @if (!item.CheckIsDone)
                {
                    @Html.DisplayFor(modelItem => item.CheckDescription)
                }
                else
                {
                    <div class="Checked">@Html.DisplayFor(modelItem => item.CheckDescription)</div>
                }

            </td>
            <td>
                @Html.CheckBoxFor(modelItem => item.CheckIsDone, new { id = item.CheckId, @class = "ActiveCheck" })
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CheckDueDate)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.CheckId }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.CheckId })
            </td>
        </tr>
    }

</table>

<script src="~/Scripts/AddCheckBoxListener.js"></script>