﻿@model CheckList.Models.Check

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Check</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CheckDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CheckDescription)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CheckIsDone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CheckIsDone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CheckDueDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CheckDueDate)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.CheckId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
