﻿@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Check List App</h1>
    <p class="lead">First ASP.NET web application trial.</p>
    <p><a href="/Checks" class="btn btn-primary btn-lg">View Check List &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
    </div>
    <div class="col-md-4">
    </div>
    <div class="col-md-4">
    </div>
</div>